body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 31px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 20px;
}

.btn-primary {
    background-color: #006aff;
    color: #fff;
    border-color: #006aff;
}

/* ______prima navbar_____ */

.first-navbar {
    display: none;
}

.first-navbar-left small {
    color: #5b6987;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.first-navbar-left .fa-chevron-right {
    color: #5b6987;
    font-size: 11px;
}

ul.list-inline {
    margin: 0;
}

.first-navbar-right ul li {
    margin-top: 5px;
}

.first-navbar-right ul li a {
    display: block;
    color: #5b6987;
    padding: 5px;
}

/* _____seconda navbar_____ */

.navbar-default {
    background-color: #fff;
    height: 65px;
}

.navbar-brand {
    padding: 0;
    height: auto;
}

.navbar > .container-fluid .navbar-brand {
    margin: 17.5px 0 0 20px;
}

.navbar-brand > img {
    width: 175px;
}

.nav-left-list-items {
    display: none;
}

.navbar-right {
    display: none;
}

.navbar-header {
    width: 100%;
/* aggiunta per il toggle a larghezza fino 992*/
}








@media screen and (min-width: 768px) {
    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 36px;
    }

    .navbar > .container-fluid .navbar-brand {
        margin: 17.5px 0 0 5px;
        /* tolto margine negativo a questa classe */
    }

    .navbar-toggle {
        display: block;
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-right: 15px;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }


}

@media screen and (min-width: 992px) {

    .navbar-header {
        width: auto;
    }

    .navbar-toggle {
        display: none;
    }

    .first-navbar {
        display: block;
        height: 40px;
    }

    .first-navbar-left {
        float: left;
    }

    .first-navbar-right {
        float: right;
        margin-right: 20px;
    }

    .icon-new {
        display: inline-block;
        background-color: #00d7d2;
        color: #031b4f;
        font-size: 10px;
        padding: 3px 7px;
        border-radius: 3px;
        margin: 10px 10px 10px 20px;
    }

    .nav-left-list-items {
        display: inline-block;
        padding-left: 20px;
        margin-top: 17.5px;
    }

    .navbar-nav > li > a {
        padding: 5px;
        margin: 0 5px;
    }

    .navbar-collapse a {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        letter-spacing: 0.4px;
    }

    .navbar-default .navbar-nav > li > a {
        color: #031b4f;
    }

    .navbar-right {
        display: inline-block;
        margin-top: 13.5px;
    }

    .navbar-right > .btn-default {
        color: #006aff;
        border-color: #006aff;
        padding: 8px 20px;
    }

    .navbar-right > .btn-primary {
        padding: 8px 20px;
        margin-left: 10px;
    }

    .fa-chevron-down {
        padding-left: 2px;
        vertical-align: middle;
    }


}
