/* _____regole generiche____ */

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 31px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.4px;
}

h2 {
    font-size: 18px;
    color: #031b4e;
    font-weight: 600;
}

h5 {
    font-size: 18px;
    color: #031b4e;
    font-weight: 600;
    margin: 0;
    padding: 15px 0;
}

p {
    font-size: 20px;
    color: #5b6987;
    letter-spacing: 1px;
}

/* ______fine regole generiche_____ */

.btn-primary {
    background-color: #006aff;
    color: #fff;
    border-color: #006aff;
}

/* ______prima navbar_____ */

.first-navbar {
    display: none;
}

/* _____seconda navbar_____ */

.navbar-default {
    background-color: #fff;
    height: 65px;
}

.navbar-brand {
    padding: 0;
    height: auto;
}

.navbar > .container-fluid .navbar-brand {
    margin: 17.5px 0 0 20px;
}

.navbar-brand > img {
    width: 175px;
}

.nav-left-list-items {
    display: none;
}

.navbar-right {
    display: none;
}

.navbar-header {
    width: 100%;
/* aggiunta per il toggle a larghezza fino 992*/
}

.navbar-toggle {
    margin-top: 15px;
}

/* _____inizio sezione jumbotron____ */
.jumbo {
    background-color: #0069ff;
    background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
    background-size: cover;
    background-position: center;
    margin-top: 64px;
    padding: 150px 0;
}

.left-jumbo-container {
    padding-top: 70px;
}

.jumbo-paragraph > p {
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.4px;
    line-height: 40px;
    padding: 20px 0 40px 0;
}

/* _____inizio form_______ */

.jumbo-form {
    width: 90%;
    margin: auto;
    background-color: #fff;
    border: 1px solid #555;
    border-radius: 10px;
}

.jumbo-form > form {
    padding: 20px;
}

.form-control {
    height: 48px;
    font-size: 18px;
    border-radius: 2px;
}

.form-control:focus {
    border-color: #0069ff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jumbo-form-title {
    background-color: #f3f5f9;
    margin: 0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.jumbo-form-title h4 {
    color: #363636;
    font-size: 18px;
    font-weight: 600;
}

/* ______bottoni form_______ */

.btn-primary.btn-lg.btn-block {
    font-weight: 600;
    letter-spacing: 1.3px;
    padding: 15px 16px;
}

.git-e-google-butons {
    padding: 15px 20px;
}

.git-e-google-butons > a > i.fab.fa-google {
    margin-right: 5px;
}

.button-google-icon, .button-git-icon {
    display: inline-block;
    font-size: 18px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #0069ff;
    border-radius: 6px;
    padding: 12px 16px;
    color: #0069ff;
}

.button-google-icon {
    width: 100%;
    font-size: 15px;
}

.button-git-icon {
    display: block;
    margin-top: 10px;
    max-width: 50%;
    margin: 10px auto;
}

.btn-primary.btn-lg.btn-block:hover {
    background-color: #1633ff;
    transition: all 0.3s ease-in;
}

.button-google-icon:hover {
    text-decoration: none;
    color: #363636;
    border-color: #5b6886;
}

.button-google-icon:hover i.fab.fa-google {
    color: #0069ff;
}

.button-git-icon:hover {
    color: #0069ff;
    border-color: #5b6886;
}
 /* _____small fine form____ */

.jumbo-form-footer {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    padding-top: 15px;
}

/* ___inizio sezione trust DigitalOcean___ */
.trust-digitalocean {
    background-color: #f3f5f9;
    padding: 60px 0;
}

.trust-digitalocean-title > h3 {
    color: #5b6987;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding-bottom: 30px;
}

.business-solutions > a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding-top: 30px;
    color: #0069ff;
}

.business-solutions > a::after {
    content: '\f054';
    font-family: "font awesome 5 free";
    font-weight: bold;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 14px;
}

.business-solutions > a:hover {
    text-decoration: none;
    color: #1633ff;
}

/*____inizio sezione deploy-and-scale____ */

.deploy-and-scale {
    padding: 60px 0;
}

p.description-paragraph {
    font-size: 16px;
}

.deploy-and-scale-bottom {
    padding-top: 50px;
}

.deploy-and-scale-right-first,
.deploy-and-scale-right-second,
.deploy-and-scale-right-third,
.deploy-and-scale-right-fourth {
    padding-bottom: 40px;
}







/* _____inizio media_____ */

@media screen and (min-width: 420px) {

    .jumbo-form {
        width: 370px;
        margin: auto;
    }


    .jumbo-form-title {
        padding: 15px;
    }


    .git-e-google-butons {
        padding: 30px 20px;
    }


    .button-git-icon {
        display: inline-block;
        margin: 0;
        margin-left: 10px;
        max-width: auto;
    }

    .button-google-icon {
        width: calc(100% - 67.5px);
        font-size: 18px;
    }

}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 58px;
    }

    h2 {
        font-size: 36px;
    }

    .navbar > .container-fluid .navbar-brand {
        margin: 17.5px 0 0 5px;
        /* tolto margine negativo a questa classe */
    }

    .navbar-toggle {
        display: block;
    }

    .deploy-and-scale-bottom-right {
        text-align: left;
    }


}

@media screen and (min-width: 992px) {

    .navbar-header {
        width: auto;
    }

    .navbar-toggle {
        display: none;
    }

    .first-navbar {
        display: block;
        height: 40px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
    }

    .first-navbar-left {
        float: left;
    }

    .first-navbar-left small {
        color: #5b6987;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .first-navbar-left .fa-chevron-right {
        color: #5b6987;
        font-size: 11px;
    }


    .first-navbar-right {
        float: right;
        margin-right: 20px;
    }

    ul.list-inline {
        margin: 0;
    }

    .first-navbar-right ul li {
        margin-top: 5px;
    }

    .first-navbar-right ul li a {
        display: block;
        color: #5b6987;
        padding: 5px;
    }

    .icon-new {
        display: inline-block;
        background-color: #00d7d2;
        color: #031b4f;
        font-size: 10px;
        padding: 3px 7px;
        border-radius: 3px;
        margin: 10px 10px 10px 20px;
    }

/* _______fine prima navbar___ */
/* ______inizio seconda navbar_____ */
    .navbar-default {
        margin-top: 40px;
    }

    .nav-left-list-items {
        display: inline-block;
        padding-left: 20px;
        margin-top: 17.5px;
    }

    .navbar-nav > li > a {
        padding: 4px;
        margin: 0 4px;
    }

    .navbar-collapse a {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        letter-spacing: 0.4px;
    }

    .navbar-default .navbar-nav > li > a {
        color: #031b4f;
    }

    .navbar-right {
        display: inline-block;
        margin-top: 13.5px;
        margin-right: 20px;
    }

    .navbar-right > .btn-default {
        color: #006aff;
        border-color: #006aff;
        padding: 8px 20px;
        transition: all 0.3s ease-in;
    }

    .navbar-right > .btn-primary {
        padding: 8px 20px;
        margin-left: 10px;
    }

    .navbar-right > .btn-default:hover {
        background-color: #006aff;
        color: #fff;
    }

    .navbar-right > .btn-primary:hover {
        background-color: #006aff;
        color: #fff;
        border-color: #006aff;
    }

    .fa-chevron-down {
        padding-left: 2px;
        vertical-align: middle;
    }

    .first-navbar-left a:hover {
        text-decoration: none;
    }

    .first-navbar-right ul li a:hover,
    .first-navbar-left small:hover,
    .first-navbar-left small:hover i,
    .navbar-default .navbar-nav > li > a:hover {
        text-decoration: none;
        color: #006aff;
    }

    .jumbo {
        margin-top: 100px;
        padding: 200px 0;
    }

    .jumbo-title, .jumbo-paragraph {
        text-align: left;
    }

}
